#page-flexer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#body-content {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body-content > div {
    margin-top:50px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-inner > .carousel-item {
    height: 480px;
    width: 1000px;
}

.carousel-item > img {
    width:100%;
}

#card-box {
    display: flex;
    width:100%;
    padding:3rem;
    padding-top: 2rem;
    justify-content:space-around;
}

.card-positioner {
    display:flex;
    align-items:center;
    flex-direction:column;
}

.half-button-link {
    width: 33%;
    margin:-2rem;
    z-index:1;
}

#login-container {
    height: 100%;
    margin: 2rem;
    margin-top: 2rem !important;
    padding: 1rem;
}

.data-table {
    margin:2rem;
}

.searchIcon {
    margin-right: 0.5rem;
}

#SearchForm {
    width: 100%;
    margin-top:50px;
}

#toolbar {
    display: flex;
    justify-content: center;
    width: 100%;
}

#toolbar > div {
    display: flex;
    align-items:center;
    margin-left:1rem;
    margin-right:1rem;
}

.slider-dropdown {
    padding:10px;
}

#footer {
    width: 100%;
    padding: 5px;
    border-top: solid thin;
}