@model Webserver_PoC.Models.Sensor

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="login-container" class="bg-light">
    <fieldset>
        <legend>Verwijderen</legend>
        <hr/>
        <p>Weet u zeker dat u @(Model.name) permanent wilt verwijderen?</p>
        @using (Html.BeginForm())
        {

            <div class="btn-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Terug", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </fieldset>
</div>

